@tailwind base;
@tailwind components;
@tailwind utilities;

.container-custom {
  @apply px-2 lg:px-20 md:px-10;
}
.button-primary {
  @apply px-5 py-2 bg-primary hover:bg-secondary rounded-lg text-lg font-semibold text-white transition ease-in duration-200;
}
.swiper {
  padding: 3rem;
}

.swiper .res-slide {
  min-width: 300px;
  max-width: 300px;
  min-height: 350px;
  background-color: white;
  border: 1px solid rgb(227, 234, 240);
  box-shadow: 4px 8px 30px -21px black;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14px;
}
.swiper-nav-btns {
  margin-bottom: 10px;
}
